// # Front-end Style Guide

// ## Layout

// The designs were created to the following widths:

$mobile: 480px;
$desktop: 1440px;

// ## Colors

// ### Primary

$light_cyan: hsl(193, 38%, 86%);
$neon_green: hsl(150, 100%, 66%);  

// ### Neutral

$grayish_blue: hsl(217, 19%, 38%);
$dark_grayish_blue: hsla(220, 28%, 21%, 0.93); 
$dark_blue: hsl(218, 23%, 16%); 

// ## Typography

// ### Body Copy

$font_qsize: 28px;

// ### Font

// - Family: [Manrope](https://fonts.google.com/specimen/Manrope)
$fweight: 800; 
